<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
</head>
<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <div class="container">
        <div class="text-center py-5 mt-3 mb-3">
            <h2 class="fw-bold">Cari Barang</h2>
        </div>
        <div class="my-4">
            <form class="form-inline d-flex align-items-center justify-content-center" method="GET">
                <div class="input-group mx-3" style="max-width: 200%;">
                    <select th:if="${barangSelected} != null" class="form-select" name="sku">
                        <option th:value="${barangSelected.sku}" th:text="${barangSelected.merk}" selected hidden></option>
                        <option th:each="barang: ${listBarang}"
                                th:value="${barang.sku}" th:text="${barang.merk}"></option>
                    </select>
                    <select th:if="${barangSelected} == null" class="form-select" name="sku">
                        <option th:each="barang: ${listBarang}"
                                th:value="${barang.sku}" th:text="${barang.merk}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
          </div>
        <div class="justify-content-center m-2">
            <table class="table table-bordered text-center" th:if="${listGudangBarangDTO} != null and ${listGudangBarangDTO.size() != 0}">
                <thead class="table-dark">
                    <tr>
                        <th class="py-3">#</th>
                        <th class="py-3">Nama</th>
                        <th class="py-3">Alamat Gudang</th>
                        <th class="py-3">Stok</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="gudangBarangDTO, iterationStatus: ${listGudangBarangDTO}">
                        <td th:text="${iterationStatus.index+1}" class="py-3"></td>
                        <td class="py-3">
                            <a th:href="@{/gudang/{id}(id=${gudangBarangDTO.idGudang})}" style="text-decoration: none;">
                                <h6 th:text="${gudangBarangDTO.namaGudang}" class="text-info"></h6>
                            </a>
                        </td>
                        <td th:text="${gudangBarangDTO.alamatGudang}" class="py-3"></td>
                        <td th:text="${gudangBarangDTO.stok}" class="py-3"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center m-2" th:if="${listGudangBarangDTO != null} and ${listGudangBarangDTO.size() == 0}">
            <h2 th:text="'Tidak ada gudang yang memuat barang ' + ${barangSelected.merk}"></h2>
        </div>
    </div>
</body>
</html>