<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
</head>
<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <div class="container mt-5">
    <h1 class="text-center">Daftar Gudang</h1>
    <table id="gudangTable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Nama</th>
                <th>Alamat Gudang</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop through the list of gudang and populate the table -->
            <th:block th:each="gudang : ${daftarGudang}">
                <tr>
                    <td th:text="${gudang.idGudang}"></td>
                    <td th:text="${gudang.namaGudang}"></td>
                    <td th:text="${gudang.alamatGudang}"></td>
                    <td>
                        <a th:href="@{/gudang/{id}(id=${gudang.idGudang})}" class="btn btn-secondary">Detail</a>
                    </td>
                </tr>
            </th:block>
        </tbody>
    </table>
</div>

    <script>
        // Initialize DataTable
        $(document).ready(function() {
            $('#gudangTable').DataTable({
           pageLength: 5, // Menampilkan 5 item per halaman secara default
           lengthMenu: [ [5, 10, 20, -1], [5, 10, 20, "All"] ], // Opsi jumlah item per halaman
           columnDefs: [
               { targets: 5, orderable: false }, // Kolom "Action" tidak dapat diurutkan
           ],
       });
        });
    </script>
</body>
</html>